<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        <img src="images/ember-logo.png" alt="Ember">
        <span>Data Table Light</span>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}
          {{link-to 'Home' 'index'}}
        {{/link-to}}
        {{#link-to 'editable' tagName="li"}}
          {{link-to 'Editable' 'editable'}}
        {{/link-to}}
        {{#link-to 'custom-actions' tagName="li"}}
          {{link-to 'Custom Actions' 'custom-actions'}}
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="docs">Documentation</a></li>
        <li><a href="https://github.com/quantosobra/ember-data-table-light" class="fa fa-github github"></a></li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}

<div class="tip">
  <i class="fa fa-info-circle icon-info"></i> Click on the panel header with the <i class="fa fa-code"></i> icon to see code snippets associated with this table.
</div>
